body {
  font-family: sans-serif;
  display:flex;
  justify-content: space-around;
  background-color: aquamarine;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#detailPage {
  margin-left: 10px;
  width: 500px;
  height: 250px;
  
}
.side-by-side {
  display: flex;
  flex-direction: row;
}

#singlePage {
  height: 500px;
  width: 1400px;
}

.ctgyLink, .brandLink {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}